<html>
<body>
<table>
    Games terminées:<br>
    <tr>
        <th>
            Game Id
        </th>
        <th>
            Joueur 1
        </th>
        <th>
            Score 1
        </th>
        <th>
            Score 2
        </th>
        <th>
            Joueur 2
        </th>
        <th>
            Etat
        </th>
    </tr>
    {% for gameOver in gamesOver %}
    <tr>
        <td>
            {{ gameOver.id }}
        </td>
        <td>
            {% if gameOver.joueur1 is not null %}
            <a href="{{ path('cp_user_checkProfile', {'id': gameOver.joueur1.id}) }}">
                {{ gameOver.joueur1 }}
            </a>
            {% endif %}
        </td>
        <td>
            {{ gameOver.score1 }}
        </td>
        <td>
            {{ gameOver.score2 }}
        </td>
        <td>
            {% if gameOver.joueur2 is not null %}
            <a href="{{ path('cp_user_checkProfile', {'id': gameOver.joueur2.id}) }}">
                {{ gameOver.joueur2 }}
            </a>
            {% endif %}
        </td>
        <td>
            {{ gameOver.etat }}
        </td>
    </tr>
    {% endfor %}
    </table>
<table>
    <br>Games en attente:<br>
    <tr>
        <th>
            Game Id
        </th>
        <th>
            Joueur 1
        </th>
        <th>
            Score 1
        </th>
        <th>
            Score 2
        </th>
        <th>
            Joueur 2
        </th>
        <th>
            Etat
        </th>
    </tr>
    <tr>
        {% for gamePending in gamesPending %}
        <td>
            {{ gamePending.id }}
        </td>
        <td>
            {% if gamePending.joueur1 is not null %}
            <a href="{{ path('cp_user_checkProfile', {'id': gamePending.joueur1.id}) }}">
                {{ gamePending.joueur1 }}
            </a>
            {% endif %}
        </td>
        <td>
            {{ gamePending.score1 }}
        </td>
        <td>
            {{ gamePending.score2 }}
        </td>
        <td>
            {% if gamePending.joueur2 is not null %}
            <a href="{{ path('cp_user_checkProfile', {'id': gamePending.joueur2.id}) }}">
                {{ gamePending.joueur2 }}
            </a>
            {% endif %}
        </td>
        <td>
            {{ gamePending.etat }}
        </td>
    </tr>
    {% endfor %}
    </table>
<table>
    <br>Games à jouer:<br>
    <tr>
        <th>
            Game Id
        </th>
        <th>
            Joueur 1
        </th>
        <th>
            Score 1
        </th>
        <th>
            Score 2
        </th>
        <th>
            Joueur 2
        </th>
        <th>
            Etat
        </th>
    </tr>
    {% for gameTBP in gamesTBP %}
    <tr>
        <td>
            {{ gameTBP.id }}
        </td>
        <td>
            {% if gameTBP.joueur1 is not null %}
            <a href="{{ path('cp_user_checkProfile', {'id': gameTBP.joueur1.id}) }}">
                {{ gameTBP.joueur1 }}
            </a>
            {% endif %}
        </td>
        <td>
            {{ gameTBP.score1 }}
        </td>
        <td>
            {{ gameTBP.score2 }}
        </td>
        <td>
            {% if gameTBP.joueur2 is not null %}
            <a href="{{ path('cp_user_checkProfile', {'id': gameTBP.joueur2.id}) }}">
                {{ gameTBP.joueur2 }}
            </a>
            {% endif %}
        </td>
        <td>
            {{ gameTBP.etat }}
        </td>
    </tr>
    {% endfor %}
    </table>
<table>
    <br>Games jouée:<br>
    <tr>
        <th>
            Game Id
        </th>
        <th>
            Joueur 1
        </th>
        <th>
            Score 1
        </th>
        <th>
            Score 2
        </th>
        <th>
            Joueur 2
        </th>
        <th>
            Etat
        </th>
        <th>
            Valider le score
        </th>
    </tr>
    {% for gamePlayed in gamesPlayed %}
    <tr>
        <td>
            {{ gamePlayed.id }}
        </td>
        <td>
            {% if gamePlayed.joueur1 is not null %}
            <a href="{{ path('cp_user_checkProfile', {'id': gamePlayed.joueur1.id}) }}">
                {{ gamePlayed.joueur1 }}
            </a>
            {% endif %}
        </td>
        <td>
            {{ gamePlayed.score1 }}
        </td>
        <td>
            {{ gamePlayed.score2 }}
        </td>
        <td>
            {% if gamePlayed.joueur2 is not null %}
            <a href="{{ path('cp_user_checkProfile', {'id': gamePlayed.joueur2.id}) }}">
                {{ gamePlayed.joueur2 }}
            </a>
            {% endif %}
        </td>
        <td>
            {{ gamePlayed.etat }}
        </td>
        <td>
            <form action="{{ path('cp_competition_validateScore', {'id': gamePlayed.id}) }}" method="post">
                <input type="submit" value="valider le score"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>