<html>
<body>
<form action="{{ path('cp_competition_adminSetScoreProblems', {'id': game.id}) }}" method="post">

    {% for v in versus %}
        {{ v.scorej1 }} - {{ v.scorej2 }}
        <img
            src="{{ asset('/uploads/' ~ game.id ~ '-' ~ v.id ~ '_' ~ v.scorej1 ~ '-' ~ v.scorej2 ~ '/' ~ v.screenshot.id ~ '.' ~ v.screenshot.url) }}"
            alt="{{ v.screenshot.alt }}"
        />
        <input type="checkbox" name="number[]"  value="{{ v.id }}">
    {% endfor %}
    <input type="submit" value="Valider les screenshots"/>
</form>
</body>
</html>