<html>
<body>
<table>
    <tr>
        <th>
            Game Id
        </th>
        <th>
            Joueur 1
        </th>
        <th>
            Score 1
        </th>
        <th>
            Score 2
        </th>
        <th>
            Joueur 2
        </th>
        <th>
            Etat
        </th>
    </tr>
    {% for game in games %}
        {% if game.etat != 3 %}
        <tr>
            <td>
                {{ game.id }}
            </td>
            <td>
                {{ game.joueur1 }}
            </td>
            {% if game.etat == 2%}
            <td>
                {{ game.score1 }}
            </td>
            <td>
                {{ game.score2 }}
            </td>

            {% else %}
                <td>A remplir</td>
                <td>A remplir</td>
            {% endif %}
            <td>
                {{ game.joueur2 }}
            </td>
            <td>
                {{ game.etat }}
            </td>
            {% if game.etat == 1 %}
                <td>
                    <form action="{{ path('cp_competition_uploadScreenshots', {'id': game.id}) }}" method="post">
                        <input type="number" name="nbVersus" min="1">
                        <input type="submit" value="valider le score"/>
                    </form>
                </td>
            {% endif %}
        </tr>
    {% endif %}
    {% endfor %}
</table>
</body>
</html>